

/* ====================== [ Start Numbers & Counter  ] ====================== */

.numbers{

	.item{
		position: relative;

		&:after{
			width: 35px;
			height: 35px;
			bottom: 0;
			background: #212121;
		}

		&:before{
			width: 0;
			height: 0;
			border-top: 35px solid transparent;
			border-right: 35px solid #212121;
			bottom: 35px;
		}

		&:before,&:after{
			content: '';
			position: absolute;
			right: 20%;
			z-index: -1;
		}

		h3{
			margin-bottom: 10px;

			span{
				font-size: 60px;
				color: $main-color;
			}

			i{
				font-size: 30px;
				font-weight: 300;
				font-style: normal;
				color: #777;
				margin-left: 15px;
			}
		}

		h6{
			font-size: 12px;
			font-weight: 500;
			text-transform: uppercase;
			letter-spacing: 2px;
		}
	}
}

/* ====================== [ End Numbers & Counter  ] ====================== */