
// #666701 c5a47e bed86c d3ed34 35f19a

$pcolor: #9f9f9f;
$main-color: #c5a47e;
$dark-shadow: 0px 10px 40px -4px rgba(0,0,0,.1); 
$mobile-xs-screen: 480px;
$tablet-sm-screen: 767px;
$desk-md-screen: 991px;
$desk-lg-screen: 1200px;
